<button *ngIf="(hasNotDuplications() | async)"
        type="button"
        [className]="'btn btn-success'"
        ngbTooltip="{{(getHelpLabelPrefix() | async) | translate}}"
        [disabled]="processing$ | async"
        (click)="submitTask()">
  <span *ngIf="processing$ | async"><i class='fas fa-circle-notch fa-spin'></i> {{'submission.workflow.tasks.generic.processing' | translate}}</span>
  <span *ngIf="!(processing$ | async)"> <i class="fa fa-thumbs-up"></i> {{(getLabelPrefix() | async) | translate}} </span>
</button>
