<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}"
           routerLink="/register"> {{ 'register-page.navbar.email' | translate }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}"
           routerLink="/register/dni"> {{ 'register-page.navbar.dni' | translate }}</a>
    </li>
</ul>
