<footer class="top-footer">
    <div class="container pt-3 pb-3">
        <p style="text-align: center;">Consejo Nacional de Ciencia, Tecnología e Innovación Tecnológica - CONCYTEC</p>
        <small style="display: block; text-align: center;">Calle Chinchón N° 867 - San Isidro, Lima - Perú </small>
        <small style="display: block; text-align: center;">Central Telefónica: 0051-1-399-0030, E-mail:
            <span style="text-decoration: underline;">
          <a href="mailto:degc@concytec.gob.pe" target="_blank">degc@concytec.gob.pe</a>
        </span>
        </small>
    </div>
</footer>
