<div *ngVar="(researcherProfile$ | async) as researcherProfile">
    <div *ngIf="researcherProfile">
        <p>{{'researcher.profile.associated' | translate}}</p>
        <p>Status:
            <span [ngClass]="{'font-weight-bold' : true, 'text-success' : researcherProfile.visible, 'text-warning' : !researcherProfile.visible}">
                {{ (researcherProfile.visible ? 'researcher.profile.public.visibility' : 'researcher.profile.private.visibility' ) | translate }}
            </span>
        </p>
    </div>
    <div *ngIf="!researcherProfile">
        <p>{{'researcher.profile.not.associated' | translate}}</p>
    </div>
    <button class="btn" [ngClass]="(canClaim() | async) ? 'btn-outline-primary' : 'btn-primary'" [disabled]="researcherProfile || (isProcessingCreate() | async)" (click)="createProfile()">
        <span *ngIf="(isProcessingCreate() | async)">
            <i class='fas fa-circle-notch fa-spin'></i> {{'researcher.profile.action.processing' | translate}}
        </span>
        <span *ngIf="!(isProcessingCreate() | async)">
            <i class="fas fa-plus"></i> &nbsp;{{'researcher.profile.create.new' | translate}}
        </span>
    </button>
    <button *ngIf="!researcherProfile && (canClaim() | async)" class="btn btn-primary" (click)="claim()">
      <span *ngIf="!(isProcessingCreate() | async)">
              &nbsp;{{'researcher.profile.create.fromEpersonData' | translate}}
          </span>
    </button>
    <ng-container *ngIf="researcherProfile">
        <button class="btn btn-primary" [disabled]="!researcherProfile" (click)="viewProfile(researcherProfile)">
            {{'researcher.profile.view' | translate}}
        </button>
        <button class="btn btn-outline-primary" [disabled]="!researcherProfile" (click)="toggleProfileVisibility(researcherProfile)">
            <span>
                <i class="fas fa-edit"></i>
                &nbsp;{{(researcherProfile.visible ? 'researcher.profile.hide' : 'researcher.profile.expose' ) | translate}}
            </span>
        </button>
        <button class="btn btn-danger" [disabled]="!researcherProfile" (click)="openDeletionModal(deletionModal)">
            <span *ngIf="(isProcessingDelete() | async)">
                <i class='fas fa-circle-notch fa-spin'></i> {{'researcher.profile.action.processing' | translate}}
            </span>
            <span *ngIf="!(isProcessingDelete() | async)">
                <i class="fas fa-trash-alt"></i> &nbsp;{{'researcher.profile.delete' | translate}}
            </span>
        </button>
    </ng-container>
</div>

<ng-template #deletionModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'researcher.profile.deletion.title' | translate}}</h4>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngVar="(researcherProfile$ | async) as researcherProfile">
    <div class="alert alert-warning" role="alert">
      {{'researcher.profile.deletion.warning' | translate}}
    </div>
    <form (ngSubmit)="deleteProfile(researcherProfile)" >
      <button id="btn-chat"
              class="btn btn-danger btn-lg btn-block mt-3"
              type="submit">
        <span>{{'researcher.profile.deletion.confirm' | translate}}</span>
      </button>
    </form>
  </div>
</ng-template>
