<ng-container *ngIf="shadowCopies">
    <hr>
    <div  class="d-flex mt-2">
        <div class="flex-grow-1">
            <em class="mr-2"><small>{{ 'peru-layout.shadow-copies' | translate }}</small></em>
            <span class="cursor-pointer mr-2"
                    *ngFor="let shadowCopy of shadowCopies"
                    [ngClass]="{'text-info': shadowCopy.shadowCopy === selectedShadowCopy}"
                    (click)="onSelectShadowCopy(shadowCopy.shadowCopy)">
                    <em><small> {{ shadowCopy.label }}</small></em>
            </span>
        </div>
    </div>
</ng-container>
