<ng-container *ngIf="itemSources">
    <hr>
    <div  class="d-flex mt-2">
        <div class="flex-grow-1">
            <em class="mr-2"><small>{{ 'peru-layout.shadow-copies' | translate }}</small></em>
            <!-- item option-->
            <span class="cursor-pointer mr-2"
                  [ngClass]="{'text-info': selectedSource === null}"
                  (click)="onSelectSourceItem(null)">
                    <em><small> {{ itemLabel }}</small></em>
            </span>
            <!-- sources options-->
            <span class="cursor-pointer mr-2"
                    *ngFor="let itemSource of itemSources"
                    [ngClass]="{'text-info': itemSource === selectedSource}"
                    (click)="onSelectSourceItem(itemSource)">
                    <em><small> {{ itemSource.source }}</small></em>
            </span>
        </div>
    </div>
</ng-container>
