<div class="container">
    <h2 class="mb-3">{{'register-page.create-profile-dni.header' | translate}}</h2>

    <div class="row">
        <div class="container">
            <div class="alert alert-success">
              <p class="mb-4">
                 <i class="fas fa-check-circle mr-1"></i>  {{ 'register-page.create-profile-dni.validation.success' | translate }}
              </p>
              <p>
                <label class="font-weight-bold">{{'register-page.create-profile-dni.dni' | translate}}</label> {{ dni }}
              </p>
              <p>
                <label class="font-weight-bold">{{'register-page.create-profile-dni.date' | translate}}</label> {{ date }}
              </p>
            </div>

            <div class="card mb-4">
                <div class="card-header">{{'register-page.create-profile-dni.email.header' | translate}}</div>
                <div class="card-body">
                    <form [class]="'ng-invalid'" [formGroup]="emailForm">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <label for="email">{{'register-page.create-profile-dni.email' | translate}}</label>
                                    <input [className]="(emailControl.invalid) && (emailControl.dirty || emailControl.touched) ? 'form-control is-invalid' :'form-control'"
                                           type="text" id="email" formControlName="email"/>
                                    <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)"
                                         class="invalid-feedback show-feedback">
                                        <span *ngIf="emailControl.errors && emailControl.errors.required">
                                            {{ 'register-page.create-profile-dni.email.error' | translate }}
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">{{'register-page.create-profile.security.header' | translate}}</div>
                <div class="card-body">

                    <ds-profile-page-security-form
                            [passwordCanBeEmpty]="false"
                            [FORM_PREFIX]="'register-page.create-profile.security.'"
                            (isInvalid)="setInValid($event)"
                            (passwordValue)="setPasswordValue($event)"
                    ></ds-profile-page-security-form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button
                    [disabled]="isInValidPassword"
                    class="btn btn-default btn-primary"
                    (click)="submitEperson()">{{'register-page.create-profile.submit' | translate}}</button>
        </div>
    </div>

</div>
